.hero-bg-spring{
	background: linear-gradient(#AACC00,20%,rgba(255,255,255,0.3));
	filter: opacity(0.8);
}
.hero-bg-summer{
	background: linear-gradient(#FFAA00,20%,rgba(255,255,255,0.3));
}
.hero-bg-autumn{
	background: linear-gradient(#e9d8a6,20%,rgba(255,255,255,0.3));
	filter: opacity(0.8);
}
.hero-bg-winter{
	background: linear-gradient(#4EA8DE,20%,rgba(255,255,255,0.3));
	filter: opacity(0.8);
}

.bar-counter{
	display: flex;
	height: 90vh;
	text-align: center;
}
.hero-bar-left{
	width: 35%;
	height: 100%;
	flex: auto;
}
.hero-bar-middle{
	width: 30%;
	height: 100%;
	padding-top: 30vh;
	flex: auto;
}
.hero-bar-right{
	width: 30%;
	height: 100%;
	flex: auto;
}

@keyframes switch-light{
	to {
		filter: opacity(0.4);
	}
}
@keyframes switch-night{
	to {
		filter: brightness(0.3);
	}
}
